<!DOCTYPE html>
<html>
<head>
    <title>News Demo</title>
</head>
<body>
    <main>
        <header>
            <a class="logo" href="/">News Site</a>
            <link rel="stylesheet" href="/assets/style.css"> 
            <form action="/search" method="GET">
                <input autofocus class="search-input" value="{{ .SearchKey }}" placeholder="Enter a news topic" type="search" name="q">
            </form>
            <a href="https://github.com/Not-dot-com/News-Site>" class="button github-button">View on Github</a>
        </header>

        <section class="container">
            <div class="result-count">
                {{ if (ne .Results.TotalResults 0) }}
                    <p>About <strong>{{ .Results.TotalResults }}</strong> results were found. You are on page <strong>{{ .CurrentPage }}</strong> of <strong> {{ .TotalPages }}</strong>.</p>
                {{ else if and (ne .SearchKey "") (eq .Results.TotalResults 0) }}
                    <p>No results found for your query: <strong>{{ .SearchKey }}</strong>.</p>
                {{ end }}
            </div>

            <ul class="search-results">
                <div class="pagination">
                    {{ if .HasPreviousPage }}
                        <a href="/search?q={{.SearchKey}}&page={{.PreviousPage}}" class="button previous-page">Previous</a>
                    {{ end }}
                    {{ if .HasNextPage }}
                        <a href="/search?q={{.SearchKey}}&page={{.NextPage}}" class="button next-page">Next</a>
                    {{ end }}
                </div>

                {{ range .Results.Articles }}
                    <li class="news-article">
                        <div>
                            <a target="_blank" rel="noreferrer noopener" href="{{.URL}}">
                                <h3 class="title">{{.Title }}</h3>
                            </a>
                            <p class="description">{{ .Description }}</p>
                            <div class="metadata">
                                <p class="source">{{ .Source.Name }}</p>
                                <time class="published-date">{{ .PublishedAt }}</time>
                            </div>
                        </div>
                        <img class="article-image" src="{{ .URLToImage }}">
                    </li>
                {{ end }}
            </ul>
        </section>
    </main>
</body>
</html>